0 0 1 * * root date >> /var/log/crontab_grafana.log 2>&1; systemctl stop grafana-server >> /var/log/crontab_grafana.log 2>&1; certbot --non-interactive --agree-tos --renew-by-default --email contact@myplaceonline.com --standalone certonly -d ${cubevar_app_grafana_host} >> /var/log/crontab_grafana.log 2>&1 && /bin/cp "/etc/letsencrypt/live/${cubevar_app_grafana_host}/fullchain.pem" "/etc/letsencrypt/live/${cubevar_app_grafana_host}/privkey.pem" /etc/grafana/ >> /var/log/crontab_grafana.log 2>&1 && chown ${USER}:grafana /etc/grafana/*pem >> /var/log/crontab_grafana.log 2>&1 && systemctl start grafana-server >> /var/log/crontab_grafana.log 2>&1
