0 0 1 * * root date >> /var/log/crontab_grafana.log; systemctl stop grafana-server; certbot --non-interactive --agree-tos --renew-by-default --email contact@myplaceonline.com --standalone certonly -d ${cubevar_app_grafana_host} >> /var/log/crontab_grafana.log && cp "/etc/letsencrypt/live/${cubevar_app_grafana_host}/fullchain.pem" "/etc/letsencrypt/live/${cubevar_app_grafana_host}/privkey.pem" /etc/grafana/ && chown ${USER}:grafana /etc/grafana/*pem && systemctl start grafana-server
