[Unit]
Description=DKIM Outbound Proxy
After=opensmtpd.service

[Service]
Type=simple
PIDFile=/usr/local/dkimproxy/var/run/dkimproxy_out.pid
ExecStart=/usr/lib/systemd/scripts/dkimproxy.sh start-out
ExecStop=/usr/lib/systemd/scripts/dkimproxy.sh stop-out

[Install]
WantedBy=multi-user.target
