[Unit]
Description=OpenSMTPD mail daemon
After=syslog.target network-online.target
Conflicts=sendmail.service postfix.service exim.service

[Service]
Type=forking
ExecStart=/usr/local/sbin/smtpd

[Install]
WantedBy=multi-user.target
