$ActionQueueType LinkedList
$ActionQueueFileName fwd1
$ActionResumeRetryCount -1
$ActionQueueSaveOnShutdown on
$ActionQueueMaxDiskSpace 1g
$ActionQueueHighWatermark 50000
$ActionQueueLowWatermark 5000

*.info;authpriv.none                        @${cubevar_app_syslog_serverhost}:514
