GRUB_TIMEOUT=0
# http://unix.stackexchange.com/q/241552
GRUB_CMDLINE_LINUX="no_timer_check console=hvc0 LANG=en_US.UTF-8 crashkernel=${cubevar_app_crashkernel_mem}M audit=0"
GRUB_DISABLE_RECOVERY="true"
