production:
  adapter: postgresql
  encoding: unicode
  pool: 5
  host: ${cubevar_app_db_host}
  database: ${cubevar_app_db_dbname}
  username: ${cubevar_app_db_dbuser}
  password: ${cubevar_app_passwords_postgresql_myplaceonline}
