passenger_root ${cubevar_nginx_passenger_root};
passenger_ruby /usr/bin/ruby;
passenger_max_pool_size ${cubevar_app_rails_threads_per_node};
passenger_min_instances ${cubevar_app_rails_threads_per_node};
passenger_spawn_method smart-lv2;
passenger_buffer_response on;
passenger_max_instances_per_app 0;
passenger_pool_idle_time 300;
passenger_max_requests 0;
passenger_instance_registry_dir /var/run/;
passenger_pre_start http://127.0.0.1/;
