0 0 15 * * root date >> /var/log/crontab_letsencrypt.log; /usr/bin/certbot certonly --non-interactive --expand --agree-tos --email contact@myplaceonline.com --dns-digitalocean --dns-digitalocean-credentials ~/.digitalocean.ini --dns-digitalocean-propagation-seconds 120 ${cubevar_app_letsencrypt_tls_domains} >> /var/log/crontab_letsencrypt.log 2>&1 && cat /etc/letsencrypt/live/myplaceonline.com-0001/{fullchain.pem,privkey.pem} > /etc/haproxy/ssl/myplaceonline.com.pem && cat /etc/haproxy/ssl/dh/myplaceonline.com.dh >> /etc/haproxy/ssl/myplaceonline.com.pem && systemctl reload haproxy
