0 0 15 * * root date >> /var/log/crontab_letsencrypt.log; /usr/bin/certbot --non-interactive --agree-tos --renew-by-default --email contact@myplaceonline.com --standalone --preferred-challenges http-01 --http-01-port 9999 certonly ${cubevar_app_letsencrypt_tls_domains} >> /var/log/crontab_letsencrypt.log 2>&1 && cat /etc/letsencrypt/live/myplaceonline.com/{fullchain.pem,privkey.pem} > /etc/haproxy/ssl/myplaceonline.com.pem && cat /etc/haproxy/ssl/dh/myplaceonline.com.dh >> /etc/haproxy/ssl/myplaceonline.com.pem && systemctl reload haproxy
